body
{
    
    background-color: rgba(245, 228, 192, 0.863);
    color: rgb(0, 0, 0);
    text-align:left;
    font-family: "arial";
    font-size: 20px;
    margin: 0;
    padding: 0;
}

#cabecera
{
    background: rgb(216, 102, 102);
    box-shadow: -3px -5px 37px 7px rgba(0,0,0,0.63);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}

#cabecera #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#container
{
    width: 50%;
    padding: 1em;
    text-align:left;
    border: 3px solid rgb(190, 34, 34);
    margin: 0 auto;
}

#container h1

{
font-size: 20px;
}

#post
{
    padding: 1em;
} 